            </div>
            
            <div class="layui-bg-gray" style="padding: 10px;">
                <div class="layui-row layui-col-space10">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            版权
                        </div>
                        <div class="layui-card-body">
                            <div style="padding: 25px 30px; text-align: center">&copy;2021 - {{ now_year }} <a href="https://www.h2oa.icu/" target="_blank">氧化氢</a> 版权所有.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function nav_active(parent_id, child_id) {
                var nav = document.getElementById(parent_id).children;
                document.getElementById(child_id).className = 'layui-nav-item layui-this';
                Object.keys(nav).forEach(function(key){
                    if (nav[key].id != child_id) {
                        var single_nav = document.getElementById(nav[key].id);
                        if (single_nav != null) {
                            single_nav.className = 'layui-nav-item';
                        }
                    }
                });
            }

            function refresh_nav() {
                nav_active('nav', window.location.pathname.split('/')[2]);
            }

            $(document).ready(function() {
                refresh_nav();
            });

            $(document).pjax('a[target!=_blank]', {
                container: '#container',
                fragment: '#container',
                timeout: 6000
            }).on('pjax:start', function() {
                NProgress.start();
            }).on('pjax:success', function() {
                layer.closeAll();
                layui.use('form', function() {
                    var element = layui.element,
                        form = layui.form;
                    element.init();
                    form.render();
                });
                refresh_nav();
            }).on('pjax:end', function() {
                NProgress.done();
            });
        </script>
    </body>
</html>