<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>管理中心 - {{ title }}</title>
        <meta name="keywords" content="{{ keyword }}">
		<meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css"/>
    </head>
    <body>
        <ul class="layui-nav">
            <li class="layui-nav-item {{ select_index }}"><a href="./index">首页</a></li>
            <li class="layui-nav-item {{ select_virtual_machine }}"><a href="./virtual_machine">虚拟机</a></li>
            <li class="layui-nav-item {{ select_user }}"><a href="./user">用户</a></li>
            <li class="layui-nav-item {{ select_core }}"><a href="./core">核心</a></li>
            <li class="layui-nav-item"><a href="./logout">退出</a></li>
        </ul>