<!DOCTYPE html>
<html lang="zh-cn">
 	<head>
 		<meta charset="utf-8">
 		<title>登录 - {{ title }}</title>
 		<meta name="keywords" content="{{ keyword }}">
 		<meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
        <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css"/>
        <script type="text/javascript" src="../static/layui/layui.js"></script>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/axios.js"></script>
		<script type="text/javascript">
		    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function() {
		        var laydate = layui.laydate
		        ,laypage = layui.laypage
		        ,layer = layui.layer
		        ,table = layui.table
		        ,carousel = layui.carousel
		        ,upload = layui.upload
		        ,element = layui.element;
		    });
		</script>
    </head>

	<body>
        <div style="padding-top: 15px; padding-right: 15px; padding-left: 15px; margin-top: auto; margin-right: auto; margin-left: auto;">

            <div class="layui-bg-gray" style="padding: 10px;">
                <div class="layui-row layui-col-space10">
                    <div class="layui-card">
                        <div class="layui-card-header">公告</div>
                        <div class="layui-card-body">
                            {% for notice_count in notice %}
                                <p>{{ notice_count }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
			
            <br/>
			
            <div class="layui-bg-gray" style="padding: 10px;">
                <div class="layui-row layui-col-space10">
                    <div class="layui-card">
                        <div class="layui-card-header">登录</div>
                        <div class="layui-card-body">
                            <form class="layui-form layui-form-pane">
                                
                                <div class="layui-form-item">
                                    <label class="layui-form-label">账号</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="account_number" autocomplete="off" placeholder="请输入账号" class="layui-input" lay-verify="required"/>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">密码</label>
                                    <div class="layui-input-block">
                                        <input type="password" name="password" autocomplete="off" placeholder="请输入密码" class="layui-input" lay-verify="required"/>
                                    </div>
                                </div>
                                
                                <div class="layui-form-item">
                                    <label class="layui-form-label">验证码</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="captcha" autocomplete="off" placeholder="请输入验证码" class="layui-input" lay-verify="required"/>
                                        <br/>
                                        <img id="captcha_image" onclick="get_captcha()">
                                    </div>
                                </div>
                                
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="submit" id="submit_button" class="layui-btn" lay-submit="" lay-filter="submit_button">登录</button>
										<button type="button" class="layui-btn layui-btn-normal" onclick="window.location.href='./register'">注册</button>
									</div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
			
            <div class="layui-bg-gray" style="padding: 10px;">
                <div class="layui-row layui-col-space10">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            版权
                        </div>
                        <div class="layui-card-body">
                            <div style="padding: 25px 30px; text-align: center">&copy;2021 - {{ now_year }} 氧化氢 版权所有.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function get_captcha() {
                var load = layer.load(0, {shade: false});
                document.getElementById('captcha_image').src='./captcha?'+ Math.random();
                layer.close(load);
            }
            
            get_captcha();
            
            layui.use(['form'], function() {
                var form = layui.form;
                
                form.on('submit(submit_button)', function(data) {
                    data = data.field;
                    
                    var load = layer.load(0, {shade: false}),
                        submit_button = document.getElementById('submit_button'),
                        account_number = data.account_number,
                        password = data.password
                        captcha = data.captcha;
                    
                    submit_button.disabled = true;
                    
                    if (!account_number || !password || !captcha) {
                        layer.close(load);
                        layer.msg('请输入完整信息');
                        submit_button.disabled = false;
                    } else {
                        let post_data = {
                            'action': 'login',
                            'account_number': account_number,
                            'password': password,
                            'captcha': captcha
                        };
                        
                        axios.post('./ajax', post_data)
                            .then(function(response) {
                                layer.close(load);
                                data = response.data.information;
                                if (data == '登录成功') {
                                    layer.alert('登录成功', function() {
                                        if (account_number == 'admin') {
                                            window.location.href = '../management/index';
                                        } else {
                                            window.location.href = '../user/index';
                                        }
                                    });
                                } else {
                                    layer.alert(data);
                                    get_captcha();
                                }
                                submit_button.disabled = false;
                        });
                    }
                    
                    return false;
                });
            });
        </script>
    </body>
</html>