            </div>
			
			<div class="layui-bg-gray" style="padding: 10px;">
			    <div class="layui-row layui-col-space10">
			        <div class="layui-card">
			            <div class="layui-card-header">
			                版权
			            </div>
			            <div class="layui-card-body">
			                <div style="padding: 25px 30px; text-align: center">&copy;2021 - {{ now_year }} 氧化氢 版权所有.</div>
			            </div>
			        </div>
			    </div>
			</div>
        </div>

        <script type="text/javascript">
            $(document).pjax('a[target!=_blank]', {
                container: '#container',
                fragment: '#container',
                timeout: 6000
            }).on('pjax:start', function() {
                NProgress.start();
            }).on('pjax:success', function() {
                layer.closeAll();
                layui.use('form', function() {
                    var element = layui.element
                    ,form = layui.form;
                    
                    element.init();
                    form.render();
                });
            }).on('pjax:end', function() {
                NProgress.done();
            });
        </script>
    </body>
</html>